html
    head
        title Artist Page
        link(rel="stylesheet", href="Artist.css")
        script(src="Artist.js")
    body
        include Header.pug
        h1 Artist Page
        br
        h2 Artist Name