link(rel="stylesheet", href="Header.css")

nav
  ul
    li
      a(href='/settings', type='text/html') User Settings
    li
      a(href='/following', type='text/html') Following Art Work 
    li  
      a(href='/home', type='text/html') Home
