html 
link(rel="stylesheet", href="Header.css")
script(src="Header.js")

if (user.isArtist)
  nav
    ul
      li
        a(href='/userSettings', type='text/html') User Settings
      li
        a(href='/following', type='text/html') Following Art Work 
      li  
        a(href='/home', type='text/html') Home
      li
        a(href='/upload', type='text/html') Upload Art
      li 
        input(type='text', id='searchBar', placeholder='Search')
        //button(type='button', id='searchButton', onclick = searchForStuff()) Search
        

else
  nav
    ul
      li
        a(href='/userSettings', type='text/html') User Settings
      li
        a(href='/following', type='text/html') Following Art Work 
      li  
        a(href='/home', type='text/html') Home
      li
        input(type='text', id='searchBar', placeholder='Search')
        //button(type='button', id='searchButton', onclick = searchForStuff()) Search
        
