html 
  link(rel="stylesheet", href="/Header.css")
  script(src="/Header.js")

if (user.isArtist)
  nav
    ul
      li
        a(href='/userSettings', type='text/html') User Settings
      li
        a(href='/following', type='text/html') Following Artists 
      li  
        a(href='/home', type='text/html') Home
      li
        a(href='/upload', type='text/html') Upload Art
      li 
        a(href=`/createWorkshop`, type='text/html') Make a new workshop
      li 
        a(href='/notifications', type='text/html') Notifications
      li 
        button(type='button', id='logoutButton', onclick='logout()') Logout
      li 
        input(type='text', id='searchBar', placeholder='Search')
        button(type='button', id='searchButton', onclick='search()') Search
        
else
  nav
    ul
      li
        a(href='/userSettings', type='text/html') User Settings
      li
        a(href='/following', type='text/html') Following Artists 
      li  
        a(href='/home', type='text/html') Home
      li 
        a(href='/notifications', type='text/html') Notifications
      li 
        button(type='button', id='logoutButton', onclick='logout()') Logout
      li
        input(type='text', id='searchBar', placeholder='Search')
        button(type='button', id='searchButton', onclick='search()') Search
        
