html
  head
    title Login Page
    link(rel="stylesheet", href="Login.css")
    script(src="Login.js")
  body(onload="init()")
    h1 Login Page

    label(for="username") Username:
    input(type="text", id="username", name="username", required)

    br

    label(for="password") Password:
    input(type="password", id="password", name="password", required)

    br

    button(type="button", id="login") Login
    a(href="/signup") No account? Sign Up here!
