html 
    head 
        title Search Page
        link(rel="stylesheet", href="Search.css")
        script(src="Search.js")
    body
        include Header.pug
        h1 Search Page
        br
        h2 Search Results
        br
        div(id='searchResults')
        br
        //now in a grid format display all the art works that match the search called searchedArt
        