html
    head
        title User Settings Page
        link(rel="stylesheet", href="UserSettings.css")
        script(src="UserSettings.js")
    body(onload="init()")
        h1 User Account Type 
        br
        h2= "Your account type is: " + accountType
        button(type="button", id="changeAccountType") Change Account Type
        br
        button(type="button", id="manageFollowing") Click here to manage who your following
        br
        button(type="button", id="mangeInterac") Click here to manage likes/reviews
        br
        button(type="button", id="viewNotifs") Click here to see your notifications



    
